CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# editors
.vscode
*.swp
*~
/.history/

# python
.venv

# build
/build*
/twister-out*

__pycache__/

# docs
/doc/_build*
